<br><h1>Contact</h1>
<br>
<h3>Gegevens</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 midden">
      <p>
        <b class="titel">Adres</b>
        <br> Malerstraat 13
        <br> 1531 NW Wormer
        <br>
      </p>
    </div>
    <div class="col-md-4 midden">
      <p>
        <b class="titel">Contact</b>
        <br>0658897673
        <br> info@mel-tech.nl
        <br>
      </p>
    </div>
    <div class="col-md-4 midden">
      <p>
        <b class="titel">Overig</b>
        <br> KvK nummer: 67940544
        <br> BTW nummer: NL205662080B01
        <br>
      </p>
    </div>
  </div>
</div>

<br>

<h3>Locatie</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155487.6787069627!2d4.669822214664693!3d52.48827907980816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5fc42a8adbba9%3A0x4600d4ad0210bca9!2sMalerstraat+13%2C+1531+NW+Wormer!5e0!3m2!1sen!2snl!4v1524140448168"
 height="450" frameborder="0" style="border:0" allowfullscreen></iframe>