#myFooter {
    background-color: #333;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #2d2d2d;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #207164;
}
#myFooter .fa-facebook {
    font-size: 40px
}

#myFooter .fa-facebook:focus {
    color: #207164;
}


@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}

#navigation-purple {
    padding-bottom: 0px;
    margin: 0;
    background-color: #333;
    border: none;
    border-radius: 0;
}

#navigation-purple .nav {
    margin-left: -15px;
}

#navigation-purple .nav > li {
    border-bottom: 2px solid transparent;
    margin-bottom: 34px;
}

#navigation-purple .nav > li:hover {
    border-bottom-color: #fff;
}

#navigation-purple .nav > li:focus {
    background-color: transparent;
}

#navigation-purple .nav > li > a {
    font-size: 18px;
    color: white;
    font-family: 'Gudea';
}

#navigation-purple .nav > li > a:hover,
#navigation-purple .nav > li > a:focus {
    background-color: transparent;
}

#navigation-purple .navbar-collapse {
    padding-top: 35px;
}

#navigation-purple .avatar {
    height: 80px;
    float: right;
    margin-top: 19px;
}

#navigation-purple .icon-bar {
    background-color: white;
}

#navigation-purple .navbar-toggle {
    border-color: white;
    float: left;
    margin-left: 25px;
    margin-top: 30px;
}

#navigation-purple .navbar-toggle:hover,
#navigation-purple .navbar-toggle:focus {
     background-color: transparent;
}

@media screen and (max-width: 767px) {

    #navigation-purple .navbar-collapse {
        padding-top: 0;
    }

    #navigation-purple ul>li {
        float: left;
        clear: left;
        margin-left: 4px;
        padding-bottom: 8px;
        margin-bottom: 5px !important;
    }

    #navigation-purple ul>li>a {
        padding-bottom: 2px;
    }

    #navigation-purple ul>li:hover {
        border-bottom: 2px solid white;
    }

    #navigation-purple .avatar {
        height: 60px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
