<br>
<h1>Welkom!</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
        Welkom op de website van Mel Tech. Bij Mel Tech kunt u terecht voor het aanschaffen of inruilen van tweedehands laptops,
        computerhulp aan huis en reparatie van laptops. Mel Tech is een bedrijf gevestigd aan de Zandweg in Wormer. Omdat
        Mel Tech een bedrijf aan huis is hebben wij geen showroom. Mocht u willen langskomen om naar een laptop te kijken,
        uw laptop te verkopen of uw laptop te laten repareren, neem dan even contact met ons op.
        <br> Vaak kunt u dezelfde dag nog langs komen!
        <br>
        <br> Elke laptop die wij verkopen is uitvoerig getest op gebreken en is voorzien van een legale Windows versie. Mocht
        u na de aankoop van een tweedehands laptopproblemen ondervinden dan zullen wij zo snel mogelijk een gepaste oplossing
        bieden.
        <br>
        <br> Mocht u verder nog vragen hebben over onze services dan kunt u altijd contact opnemen, telefonisch of per e-mail.
      </p>
      <br>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="https://www.marktplaats.nl/verkopers/4401745.html">
        <img src="../../assets/aanbod.jpg" alt="aanbod" height="150px" class="link">
      </a>
    </div>
    <div class="col-md-4">
      <a (click)=afspraak()>
        <img src="../../assets/afspraak.jpg" alt="afspraak" height="150px" class="link">
      </a>
    </div>
    <div class="col-md-4">
      <a (click)=contact()>
        <img src="../../assets/contact.jpg" alt="contact" height="150px" class="link">
      </a>
    </div>
  </div>
</div>