  <h3>Plan uw afspraak in</h3>
  <br>
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-6">
          <h5>Selecteer een datum</h5>
          <div id="datepicker"></div>
          <br>
          <h5>Selecteer een tijd</h5>
          <div class="keuze_tijd">
            <label class="tijd">
              <input type="radio" value="9:00" name="radio" value="9:00">
              <span class="checkmark">9:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">9:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">10:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">10:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">11:00</span>
            </label>
            <br>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">11:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">12:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">12:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">13:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">13:30</span>
            </label>
            <br>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">14:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">14:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">15:00</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">15:30</span>
            </label>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">16:00</span>
            </label>
            <br>
            <label class="tijd">
              <input type="radio" name="radio">
              <span class="checkmark">16:30</span>
            </label>
          </div>
          <br>
        </div>
        <div class="col-md-6">
          <h5>Reden afspraak</h5>
          <div class="row">
            <div class="col-md-4">
              <div class="radio">
                <label>
                  <input type="radio" name="reden" value="reparatie">Reparatie
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reden" value="bezichtiging">Laptops bezichtigen
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="radio">
                <label>
                  <input type="radio" name="reden" value="hulp">Computerhulp
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reden" value="overig">Overig
                </label>
              </div>
            </div>

          </div>
          <h5>Naam</h5>
          <input type="text" name="name" id="name" required="required" class="form" />
          <h5>Email</h5>
          <input type="email" name="mail" id="mail" required="required" class="form" />
          <h5>Telefoonnummer</h5>
          <input type="text" name="mail" id="telefoonnummer" required="required" class="form" />
          <h5>Opmerkingen</h5>
          <input type="text" name="opmerkingen" id="opmerkingen" class="opmerkingen" />
          <br>
          <br>
          <button class="eindknop">Afspraak inplannen</button>
        </div>
      </div>
    </form>
  </div>