<h3>Plan uw afspraak in</h3>
<div class="container">
  <form>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-6">
        <h5>Selecteer een datum *</h5>
        

        <my-date-picker [options]="myDatePickerOptions" [selDate]="selDate"
                (dateChanged)="onDateChanged($event)"></my-date-picker>




<!--         <div id="datepicker" class="datepickermax"></div>
 -->       

        <h5>Selecteer een tijd *</h5>
        <div class="keuze_tijd" *ngIf="tijden.length; else other_content">
          <label class="tijd" *ngFor="let tijd of tijden; let idx = index">
            <input type="radio" value="{{tijd}}" name="tijd" [checked]="idx === 0">
            <span class="checkmark">{{tijd}}</span>
          </label>
        </div>
        <ng-template #other_content>
          <p>Geen tijden beschikbaar</p>
        </ng-template>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5>Reden afspraak *</h5>
        <div class="row">
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Reparatie">Reparatie
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Laptops bezichtigen" checked>Laptops bezichtigen
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Computerhulp">Computerhulp
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Overig">Overig
              </label>
            </div>
          </div>

        </div>
        <h5>Naam *</h5>
        <input type="text" name="name" id="name" required class="form" [(ngModel)]="naam" />
        <h5>Email *</h5>
        <input type="email" name="mail" id="mail" required class="form" [(ngModel)]="mail" />
        <h5>Telefoonnummer *</h5>
        <input type="text" name="mail" id="telefoonnummer" required class="form" [(ngModel)]="tel" />
        <h5>Opmerkingen</h5>
        <textarea name="opmerkingen" id="opmerkingen" class="opmerkingen" [(ngModel)]="opmerkingen"></textarea>
      
        <p class="error">{{error}}</p>
        <button type="submit" class="eindknop" (click)='ophalen_gegevens()'>Afspraak inplannen</button>
      </div>
    </div>
  </form>
</div>
<app-maps></app-maps>