<h3>Plan uw afspraak in</h3>
<br>
<div class="container">
  <form>
    <div class="row">
      <div class="col-md-6">
        <h5>Selecteer een datum</h5>
        <!-- <div id="datepicker"></div> -->
        <div *ngFor="let date of dates">
          
        </div>
        <br>
        <a (click)='getTijden()'>Klik hier</a>
        <h5>Selecteer een tijd</h5>
        <div class="keuze_tijd col-md-8" *ngIf="tijden.length; else other_content">
          <label class="tijd" *ngFor="let tijd of tijden">
            <input type="radio" value="{{tijd}}" name="tijd">
            <span class="checkmark">{{tijd}}</span>
          </label>
        </div>
        <ng-template #other_content>
          <p>Geen tijden beschikbaar</p>
        </ng-template>
        <br>
      </div>
      <div class="col-md-6">
        <h5>Reden afspraak</h5>
        <div class="row">
          <div class="col-md-4">
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Reparatie">Reparatie
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Laptops bezichtigen" checked>Laptops bezichtigen
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Computerhulp">Computerhulp
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="reden" value="Overig">Overig
              </label>
            </div>
          </div>

        </div>
        <h5>Naam</h5>
        <input type="text" name="name" id="name" required="required" class="form" />
        <h5>Email</h5>
        <input type="email" name="mail" id="mail" required="required" class="form" />
        <h5>Telefoonnummer</h5>
        <input type="text" name="mail" id="telefoonnummer" required="required" class="form" />
        <h5>Opmerkingen</h5>
        <textarea name="opmerkingen" id="opmerkingen" class="opmerkingen"></textarea>
        <br>
        <br>
        <button class="eindknop" (click)='ophalen_gegevens()'>Afspraak inplannen</button>
      </div>
    </div>
  </form>
</div>

<app-maps></app-maps>