<div *ngIf="permission">
	<div class="container">
		<div class="row header">
			<div class="col-xs-4 col-xs-offset-4">
				<a class="loguit" (click)="logUit()">Log uit <i class="fas fa-sign-out-alt"></i></a>
				<h1>Welkom {{user}}!</h1>
				<p>Hieronder kunnen mogelijke afspraakmomenten ingepland worden en geplande afspraken bekeken worden.</p>
				<a [routerLink]="['/kalender']" fragment="calendar"
				(click)="goToCalendar('calendar')">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<angular2-fullcalendar id="calendar" [options]="calendarOptions"></angular2-fullcalendar>
			</div>
		</div>
	</div>
</div>

<div class="meerinfo onzichtbaar">
	<div class="top">
		<a (click)="close()" ><i class="fa fa-times close"></i></a>
		<h3 *ngIf="naam" class="naam">{{naam}}</h3>
		<p *ngIf="probleem" class="probleem">{{probleem}}</p>
	</div>
	<div class="bottom">
		<div class="tijden row">
			<div class="col-xs-2">
				<i class="far fa-clock"></i>
			</div>
			<div class="col-xs-8">
				{{dag}} <br />
				<span>{{start}} tot {{eind}}</span>	
			</div>
		</div>
		<div class="row" *ngIf="email">
			<div class="col-xs-2">
				<i class="far fa-address-book"></i>
			</div>
			<div class="col-xs-8">
				<a *ngIf="email" class="email" href="mailto:lisadevries@gmail.com" target="_top">{{email}}</a><br />
				<span *ngIf="tel" class="tel">{{tel}}</span>
			</div>
		</div>


		
		<p *ngIf="opmerking" class="opmerking">{{opmerking}}</p>
	</div>
</div>
