.fc-toolbar .fc-left h2 {
    font-size: 18px;
    padding-top: 10px;
}

.header {
	color: #333;
    background-color: #f4f4f4;
	margin-bottom: 40px;
	padding-top: 60px;
	padding: 60px 0 80px;
}

.header .loguit {
    font-size: 15px;
    position: relative;
    top: -20px;
    left: 175%;
    cursor: pointer;
}

.header .loguit:hover .fa-sign-out-alt {
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;    
    margin-left: 3px;
}

.container {
	width: 100vw;
	margin-bottom: 60px;
}

.header a {
	color: #333;
    font-size: 25px;
    text-align: center;
}

.header .fa-chevron-down {
	display: block;
    margin: auto;
    position: relative;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce
{
    0%   {top: 25px;}
    15%	 {top: 30px;}
    30%	 {top: 25px;}
    40%	 {top: 27px;}
    50%	 {top: 25px;}
    100% {top: 25px;}
}​

@-moz-keyframes bounce
{
    0%   {top: 25px;}
    15%	 {top: 30px;}
    30%	 {top: 25px;}
    40%	 {top: 27px;}
    50%	 {top: 25px;}
    100% {top: 25px;}
}

@keyframes bounce
{
    0%   {top: 25px;}
    15%	 {top: 30px;}
    30%	 {top: 25px;}
    40%	 {top: 27px;}
    50%	 {top: 25px;}
    100% {top: 25px;}
}


/*Meer info event*/
.meerinfo {
    width: 245px;
    background-color: #f4f4f4;
    border-radius: 5px;
    position: absolute;
    display: block;
    z-index: 999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.4s;
    transition: visibility 0s, opacity 0.4s;
}

.onzichtbaar {
    visibility: hidden;
    opacity: 0;
}

.meerinfo::after{
    content: '';
    position: absolute;
    left: 20px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
    clear: both;
}

.meerinfo .top {
    width: 245px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px 5px;    
    background-color: #333;
    color: #fff;
    padding-bottom: 13px;
}

.meerinfo .bottom {
    padding: 20px;
}

.meerinfo .row {
    margin-bottom: 10px;
}

.meerinfo .tijden span {
    font-size: 12px;
}

.row .fa-clock, .row .fa-address-book {
    font-size: 25px;
    margin-top: 7px;
    display: block;
    color: #555;
}

.meerinfo .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
}

.meerinfo h3 {
    margin: 5px 0;
    font-size: 18px;
    margin-bottom: 0;
}

.meerinfo .probleem {
    margin: 0;
    font-size: 16px;
}

.meerinfo .opmerking {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
}

