/* You can add global styles to this file, and also import other style files */
@import "fullcalendar/dist/fullcalendar.min.css";

@font-face {
    font-family: Gudea;
    src: url(fonts/Gudea-Regular.ttf);
}

@font-face {
    font-family: GudeaBold;
    src: url(fonts/Gudea-Bold.ttf);
}

body {
 	font-family: 'Gudea', 'Arial';
}

h1, h2, h3, h4 {
	font-family: 'GudeaBold'
}

.fc-unthemed td.fc-today {
    background: #f4f4f4;
}

.fc-event, .fc-event-dot {
    background-color: #a3a3a3;
    padding: 5px;
}

.fc-event.afspraak {
    background-color: #4ABDAC;
}

.fc-event {
    border: 1px solid #fff;
}

.fc-state-default {
    background-color: #a3a3a3;
    color: #f4f4f4;
    background-image: none;
    border: 1px solid #fff;
    text-shadow: none;
    box-shadow: none;
}

.fc-state-default:hover {
    background-color: #a9a9a9;
}

.closeon {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
    font-size: 12px;
    background: #a3a3a3;
    padding: 0.5px 4px;
}

.afspraak .closeon {
	background-color: #4ABDAC;
}

.fc-event .fc-bg {
    background: none; 
}

input, textarea {
  background-color: #F4F4F4;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #F4F4F4;
  padding: 7px;
font-family: Gudea;
}

button {
  background-color: #4ABDAC;
  border-radius: 3px;
  border: 2px solid #4ABDAC;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

/*STYLING DATEPICKER*/
.mydp .disabled, .mydp .disabled .currmonth {
    background: #f4f4f4!important;
}

.mydp .currmonth {
    background-color: #fff!important;
}

.mydp .currmonth {
    background-color: #fff!important;
}

.mydp * {
    font-family: Gudea!important;
}

.mydp .mydpicon {
    font-family: mydatepicker!important;
}

.mydp .header {
    background-color: #333!important;
}

.mydp .header button {
	background-color: #333!important;
	color: #fff;
}

.mydp .headerbtncell {
	background-color: #333!important;
}

#map {
        height: 400px;
        width: 100%;
       }
h3{
        text-align: center;
        }

		html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;}
    
.mydp .selectedday.currmonth, .mydp .selectedday.currmonth .datevalue.currmonth {
	background-color: #4ABDAC!important;
	color: #fff!important;
}